@import "tailwindcss";
.title{
  background-color: red;
  font-family: 'Courier New', Courier, monospace;
}
.nav-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  color: #d1d5db;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: all 0.25s ease;
}

.nav-btn:hover {
  color: white;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
/* hide scrollbar but keep scroll */
/* .scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */
@keyframes popupZoomOut {
  from {
    transform: scale(1.05);
    opacity: 0;
  }
  to {
    transform: scale(0.95);
    opacity: 1;
  }
}

.animate-popupZoomOut {
  animation: popupZoomOut 0.25s ease-out;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradientMove 3s ease infinite;
}
