@import "tailwindcss";

.title {
  background-color: red;
  font-family: 'Courier New', Courier, monospace;
}

.nav-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  color: #d1d5db;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: all 0.25s ease;
}

.nav-btn:hover {
  color: white;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* hide scrollbar but keep scroll */
/* .scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */
@keyframes popupZoomOut {
  from {
    transform: scale(1.05);
    opacity: 0;
  }

  to {
    transform: scale(0.95);
    opacity: 1;
  }
}

.animate-popupZoomOut {
  animation: popupZoomOut 0.25s ease-out;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradientMove 3s ease infinite;
}

/* .input {
  @apply w-full border border-gray-300 rounded-xl p-3 bg-white/70 
  focus:outline-none focus:ring-2 focus:ring-blue-400 
  transition duration-200;
} */
@keyframes statusBlink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }
}

.blink-green {
  animation: statusBlink 1.2s infinite;
}

.blink-red {
  animation: statusBlink 1.2s infinite;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Hide scrollbar but allow scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE, Edge */
  scrollbar-width: none;
  /* Firefox */
}

::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}