name: MERN Project CI

on:
  push:
    branches:
      - main   # runs only on main branch

jobs:
  frontend:
    name: Frontend Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install frontend dependencies
        run: npm install
        working-directory: client

      - name: Build frontend
        run: npm run build
        working-directory: client

      - name: Frontend done
        run: echo "Frontend build completed"

  backend:
    name: Backend Setup
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install backend dependencies
        run: npm install
        working-directory: server

      - name: Backend ready
        run: echo "Backend dependencies installed successfully"
